@media screen and(max-width: 1280px) {
  .headTopBox .headTop{
    width: 980px;
  }
  .headSearchBox{
    width: 980px;
  }
  .menu .list{
    width: 980px!important;
  }
  .banner{
    width: 980px;

  }
}
