
* {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

html, body {
  width: 100%;
  min-width: 1000px;
  max-width: 1920px;
  font-family: "Microsoft YaHei", "微软雅黑";
}

#__nuxt {
  width: 100%;
}

#__layout {
  overflow: hidden;
  width: 100%;
}

.el-header, .el-main, .el-footer {
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.indexBodybox {
  width: 75%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

.headTopBox {
  width: 100%;
  background: #eeeeee;
  overflow: hidden;

  .headTop {
    width: 75%;
    max-width: 1400px;
    min-width: 1000px;
    display: flex;
    margin: 0 auto;
    height: 40px;
    overflow: hidden;
    .widthMx{
      width: 100%;
      overflow: hidden;
      .leftCity {
        width: 50%;
        float: left;

        .changeCity {
          min-width: 120px;
          height: 40px;
          line-height: 40px;
          color: #666666;
          float: left;
          font-size: 0;

          i {
            vertical-align: middle;
            font-size: 16px;
          }

          span {
            font-size: 12px;
            font-weight: bold;
            vertical-align: middle;
          }

          a {
            color: #666666;
            font-size: 12px;
            width: 54px;
            height: 18px;
            line-height: 18px;
            border: 1px solid rgba(204, 204, 204, 1);
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
            text-align: center;
            cursor: pointer;
          }

        }

        .loginBox {
          float: left;
          height: 40px;
          line-height: 40px;
          margin-left: 20px;

          a {
            display: inline-block;
            font-size: 12px;
            color: #666666;
            margin: 0 6px;
            padding: 0 2px;

            &.active {
              color: #DA251D;
            }
          }
        }
      }
      .rightShops {
        float: left;
        width: 50%;
        height: 40px;
        line-height: 40px;
        text-align: right;

        a {
          display: inline-block;
          padding: 0 6px;
          margin: 0 10px;
          font-size: 12px;
          color: #666666;
        }
      }
    }

  }
}

.headSearchBox {
  max-width: 1400px;
  width: 75%;
  margin: 0 auto;
  overflow: hidden;

  .logoBox {
    max-width: 319px;
    width: 100%;
    height: 54px;
    margin-top: 40px;

    a {
      height: 100%;
      width: 100%;
      display: block;

      img {
        height: 100%;
        width: 100%;
        display: block;
      }
    }
  }

  .headSearch {
    width: 84%;
    max-width: 450px;
    overflow: hidden;
    margin: 40px 0 0 20%;

    .topIpt {
      width: 100%;
      float: left;
      display: flex;
      overflow: hidden;

      .input {
        float: left;
        flex: 1;
        width: 86%;
        max-width: 390px;
        height: 34px;
        line-height: 34px;
        border: 2px solid #DA251D;
        border-right: none;
        outline: none;
        display: block;
        text-indent: 1em;
        color: #333333;
        font-size: 12px;

        &::placeholder {
          color: #9b9b9b;
        }
      }

      .btn {
        float: left;
        border-radius: 0;
        background: #DA251D;
        border: none;

      }
    }

    .bottomText {
      width: 100%;
      margin-top: 14px;
      overflow: hidden;
      height: 28px;

      span {
        display: block;
        float: left;
        padding: 0 2px;
        font-size: 12px;
        margin-right: 16px;
        margin-top: 8px;
        cursor: pointer;

        &.active {
          color: #DA251D;
        }

        &:hover {
          color: #DA251D;
        }

      }
    }

  }

  .rightPhone {
    width: 100%;

    .img {
      max-width: 65%;
      min-width: 205px;
      max-height: 38px;
      margin: 40px 0px 0 auto;
      overflow: hidden;

      .leftIphoneImg {
        width: 38px;
        height: 38px;
        float: right;

        img {

          @include img;
        }
      }

      .rightNumber {
        float: right;
        margin-left: 6px;

        p {
          width: 100%;
          color: $redColor;

          &:nth-child(1) {
            font-size: 12px;
            height: 16px;
            line-height: 16px;
          }

          &:nth-child(2) {
            font-size: 24px;
            height: 22px;
            line-height: 22px;
          }
        }
      }

    }
  }
}

.supplierBody { // 内页公用的背景
  width: 100%;
  background: #f0f3ef;
  overflow: hidden;

  .bodyBox {
    width: 75%;
    max-width: 1400px;
    margin: 0 auto;
    &::after{
      content: "";
      display: block;
      clear: both;
      visibility: hidden;
      height: 0;
    }

    .HeaderBreadcrumb {
      width: 100%;
      margin-top: 20px;

      .breadcrumb {
        overflow: hidden;
        height: 20px;
        line-height: 20px;

        span {
          display: block;
          float: left;
          font-size: 14px;
          color: #333333;
          margin-right: 6px;

          &.right {
            font-size: 12px;
          }
        }

        a {
          font-size: 14px;
          display: block;
          float: left;
          color: #8e8e8e;
          margin-right: 6px;
        }

        .iconfont {
          color: #9a9a9a;
          font-size: 20px;
        }
      }

    }

    .pageSbox { // 默认分页样式
      width: 100%;
      margin: 30px auto 40px;
      text-align: center;

      .el-pagination {
        padding: 0 20px;
        display: inline-block;

        .btn-prev {
          background: #ffffff;
        }

        .el-pager {
          li {
            background: #ffffff;

            &.active {
              background: $redColor;
            }
          }

        }
      }
    }
  }

}

.topSearchBox{
  width: 100%;
  background: #ffffff;
  margin-top: 20px;
  box-shadow: 2px 4px 10px #e2e2e2;
  position: relative;
  .boxStyle{
    padding: 0 30px;
    margin: 30px 0;
    .leftAddrsBox{
      .leftText{
        font-size:16px ;
        color: #666666;
        line-height: 40px;
        text-align: center;
      }
    }
    .rightSbox{
      .searchSt{
        background: #DA251D;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        font-size: 24px;
      }
    }
  }
  .addItem{
    position: absolute;
    top: -40px;
    right: 4px;
    background: $redColor;
    height: 36px;
    color: #ffffff;
    line-height: 36px;
    font-size: 14px;
    box-shadow: 2px 2px 10px #bdbdbd;
    em{
      font-size: 20px;
      color: #ffffff;
      margin-left: 20px;
      margin-right: 4px;
      vertical-align: middle;
    }
    span{
      vertical-align: middle;
      margin-right: 20px;
      color: #ffffff;
    }
  }

}
.boxList{
  width: 100%;
  margin-top: 30px;
  a{
    float: left;
    width: 49%;
    margin-right: 2%;
    background: #ffffff;
    margin-bottom: 30px;
    position: relative;
    &:hover{
      transition: .3s ease-in-out;
      box-shadow: 2px 0px 10px #cccccc;
    }
    .topBox{
      padding: 0 30px;
      margin: 40px 0;
      .one{
        width: 100%;
        @include over;
        font-size: 16px;
        color: #333333;
        font-weight: bold;
      }
      .two{
        width: 100%;
        margin-top: 20px;
        line-height: 24px;
        @include twoText;
        font-size: 14px;
        color: #666666;
      }
      .three{
        color: #999999;
        font-size: 14px;
        margin-top: 35px;
        .red{
          color: $redColor;
        }
      }
    }
    .right_top{
      position: absolute;
      top: 0;
      right: 20px;
      width: 35px;
      height: 50px;
      background: $redColor;
      span{
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        line-height: 34px;
        &::after{
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 0;
          border: 17.5px solid transparent;
          border-bottom-color: #ffffff;
          z-index: 900;
        }
      }
    }

    &:nth-child(2n){
      margin-right: 0;
    }
  }
  &::after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
}



