
* {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

html, body {
  width: 100%;
  font-family: "Microsoft YaHei", "微软雅黑";
}

#__nuxt {
  width: 100%;
}

#__layout {
  overflow: hidden;
  width: 100%;
}

.el-header, .el-main, .el-footer {
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.indexBodybox {
  width: 75%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

.headTopBox {
  width: 100%;
  background: #eeeeee;
  overflow: hidden;

  .headTop {
    width: 75%;
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    height: 40px;
    overflow: hidden;

    .changeCity {
      min-width: 120px;
      height: 40px;
      line-height: 40px;
      color: #666666;
      float: left;
      font-size: 0;

      i {
        vertical-align: middle;
        font-size: 16px;
      }

      span {
        font-size: 12px;
        font-weight: bold;
        vertical-align: middle;
      }

      a {
        color: #666666;
        font-size: 12px;
        width: 54px;
        height: 18px;
        line-height: 18px;
        border: 1px solid rgba(204, 204, 204, 1);
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        text-align: center;
        cursor: pointer;
      }

    }

    .loginBox {
      float: left;
      height: 40px;
      line-height: 40px;
      margin-left: 20px;

      a {
        display: inline-block;
        font-size: 12px;
        color: #666666;
        margin: 0 6px;
        padding: 0 2px;

        &.active {
          color: #DA251D;
        }
      }
    }

    .rightShops {
      height: 40px;
      line-height: 40px;
      text-align: right;

      a {
        display: inline-block;
        padding: 0 6px;
        margin: 0 10px;
        font-size: 12px;
        color: #666666;
      }
    }
  }
}

.headSearchBox {
  max-width: 1400px;
  width: 75%;
  margin: 0 auto;
  overflow: hidden;

  .logoBox {
    max-width: 319px;
    width: 100%;
    height: 54px;
    margin-top: 40px;

    a {
      height: 100%;
      width: 100%;
      display: block;

      img {
        height: 100%;
        width: 100%;
        display: block;
      }
    }
  }

  .headSearch {
    width: 84%;
    max-width: 450px;
    overflow: hidden;
    margin: 40px 0 0 20%;

    .topIpt {
      width: 100%;
      float: left;
      display: flex;
      overflow: hidden;

      .input {
        float: left;
        flex: 1;
        width: 86%;
        max-width: 390px;
        height: 34px;
        line-height: 34px;
        border: 2px solid #DA251D;
        border-right: none;
        outline: none;
        display: block;
        text-indent: 1em;
        color: #333333;
        font-size: 12px;

        &::placeholder {
          color: #9b9b9b;
        }
      }

      .btn {
        float: left;
        border-radius: 0;
        background: #DA251D;
        border: none;

      }
    }

    .bottomText {
      width: 100%;
      margin-top: 14px;
      overflow: hidden;
      height: 28px;

      span {
        display: block;
        float: left;
        padding: 0 2px;
        font-size: 12px;
        margin-right: 16px;
        margin-top: 8px;
        cursor: pointer;

        &.active {
          color: #DA251D;
        }

        &:hover {
          color: #DA251D;
        }

      }
    }

  }

  .rightPhone {
    width: 100%;

    .img {
      max-width: 65%;
      min-width: 205px;
      max-height: 38px;
      margin: 40px 0px 0 auto;
      overflow: hidden;
      .leftIphoneImg{
        width: 38px;
        height: 38px;
        float: right;
        img{

          @include img;
        }
      }
      .rightNumber{
        float: right;
        margin-left: 6px;
        p{
          width: 100%;
          color: $redColor;
          &:nth-child(1){
            font-size: 12px;
            height: 16px;
            line-height: 16px;
          }
          &:nth-child(2){
            font-size: 24px;
            height: 22px;
            line-height: 22px;
          }
        }
      }

    }
  }
}

.supplierBody{ // 内页公用的背景
  width: 100%;
  background: #f0f3ef;
  overflow: hidden;
  .bodyBox{
    width: 75%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    .HeaderBreadcrumb{
      width: 100%;
      margin-top: 20px;
      .breadcrumb{
        overflow: hidden;
        height: 20px;
        line-height: 20px;
        span{
          display: block;
          float: left;
          font-size: 14px;
          color: #333333;
          margin-right: 6px;
          &.right{
            font-size: 12px;
          }
        }
        a{
          font-size: 14px;
          display: block;
          float: left;
          color: #8e8e8e;
          margin-right: 6px;
        }
        .iconfont{
          color:#9a9a9a ;
          font-size: 20px;
        }
      }

    }
    .pageSbox{ // 默认分页样式
      width: 100%;
      margin: 30px auto 40px;
      text-align: center;
      .el-pagination{
        padding: 0 20px;
        display: inline-block;
        .btn-prev{
          background: #ffffff;
        }
        .el-pager{
          li{
            background: #ffffff;
            &.active{
              background: $redColor;
            }
          }

        }
      }
    }
  }

}
.works_content_box{
  width: 100%;
  margin-top: 20px;
  display: flex;
  display: -ms-flex;
  .l_content_box{
    overflow: hidden;
    flex: 1;
    -ms-flex: 1;

    .article_top{
      width: 100%;
      border-bottom: 1px solid $borderE7;
      background: #ffffff;
      .nameTit_box{
        width: 92%;
        margin: 30px auto 0;
        display: flex;
        display: -ms-flex;
        justify-items: center;
        align-items: center;
        .name{
          flex: 1;
          -ms-flex: 1;
          height: 24px;
          line-height: 24px;
          font-size: 22px;
          color: #333333;
          margin-right: 40px;
          @include over;
        }
        .span{
          cursor: pointer;
          height: 40px;
          line-height: 40px;
          text-align: center;
          width: 114px;
          background: #FFD100;
          border-radius: 4px;

        }
      }
      .Top_timeBox{
        width: 92%;
        margin:30px auto 10px;
        overflow: hidden;
        .L_time{
          float: left;
          width: 200px;
          font-size: 14px;
          color: #999999;
          height: 16px;
          line-height: 16px;
        }
        .number_icon{
          float: right;
          height: 16px;
          line-height: 16px;
          color: #999999;
          font-size: 14px;
          i{
            margin: 0 8px;
          }
        }
      }
    }
    .content_box{
      width: 100%;
      margin: 0 auto ;
      padding-top: 40px;
      background: #ffffff;
      .tit{
        width: 92%;
        margin: 0 auto;
        text-align: center;
        color: #333333;
        font-size:18px ;
      }
      .content_c{
        width: 92%;
        margin: 20px auto 40px;
        p{
          width: 100%;
          text-indent: 2em;
          color:#333333 ;
          font-size: 16px;
          line-height: 28px;
          margin-bottom: 20px;
          img{
            max-width: 94%;
            display: block;
            margin: 0 auto;
          }
        }
      }
      .content_b{
        width: 92%;
        margin: 20px auto 0;
        p{
          width: 100%;
          text-indent: 2em;
          color:#333333 ;
          font-size: 16px;
          line-height: 28px;
        }
      }
      .praise{
        width: 100%;
        margin: 40px auto;
        text-align: center;
        .circle{
          margin: 0 auto;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          color: #ffffff;
          border-radius: 50%;
          background: #d9d9d9;
          cursor: pointer;
          &.active{
            background: #f88685;
          }
          i{
            font-size: 24px;
          }
        }
        span{
          display: inline-block;
          margin-top: 10px;
          font-size:14px;
          color: #333333;
        }
      }
    }
    .comment_box{
      background: #ffffff;
      margin: 40px auto 0;
      width: 100%;
      overflow: hidden;
      .top_form{
        width: 100%;
        margin-top: 30px ;
        .text_Box{
          width: 94%;
          margin: 0 auto;
          border: 1px solid $borderE7;
          border-radius: 6px;
          textarea{
            width: 94%;
            margin: 20px auto;
            height: 96px;
            line-height: 24px;
            font-size: 16px;
            color: #333333;
            display: block;
            resize: none;
            outline: none;
          }
        }
        .sub{
          width: 94%;
          margin: 20px auto;
          overflow: hidden;
          span{
            display: block;
            float: right;
            width: 100px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #ffffff;
            background: $redColor;
            cursor: pointer;
          }
        }
      }
    }
  }
  .r_content_box{
    width:326px ;
    margin-left: 30px;
    .top_img_box{
      background: #ffffff;
      width: 100%;
      overflow: hidden;
      .img{
        width: 86px;
        height: 86px;
        border-radius: 50%;
        overflow: hidden;
        margin: 30px auto 0;
        img{
          @include img;
        }
      }
      .name{
        width: 92%;
        margin: 20px auto 0 ;
        height: 20px;
        line-height: 20px;
        font-size: 18px;
        color: #333333;
        text-align: center;
        @include over;
      }
      .adds_a{
        width: 92%;
        margin: 10px auto 0 ;
        height: 20px;
        line-height: 20px;
        font-size: 15px;
        color: #999999;
        text-align: center;
        @include over;
      }
      .click{
        display: block;
        margin: 20px auto ;
        width: 140px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        color: #333333;
        background: #FFD100;
        border-radius: 4px;

      }
    }
    .selection{
      width: 100%;
      background: #ffffff;
      margin: 10px auto;
      .tit{
        height: 50px;
        line-height: 50px;
        text-indent: 20px;
        color: #333333;
        font-size: 18px;
        border-bottom: 1px solid $borderE7;

      }
      .list_a{
        margin: 10px auto 0;
        width: 100%;
        border-bottom: 1px solid $borderE7;
        a{
          display: flex;
          display: -ms-flex;
          justify-items: center;
          align-items: center;
          &:last-child{
            margin-bottom: 10px;
          }
          &:hover{
            span{
              color: $redColor;
            }
            em{
              color: $redColor;
            }
          }
          span{
            flex: 1;
            -ms-flex: 1;
            margin-left: 20px;
            font-size: 16px;
            color: #333333;
            @include over;
            height: 36px;
            line-height: 36px;
            display: inline-block;
          }
          em{
            width: 70px;
            margin-left: 10px;
            margin-right: 20px;
            color: #999999;
            font-size: 14px;
            text-align: right;
            display: inline-block;
          }
        }
      }
      .moreList{
        width: 100%;
        text-align: center;
        a{
          display: inline-block;
          margin: 20px auto;
          color: #333333;
          font-size: 16px;
          &:hover{
            color: $redColor;
          }
        }
      }
    }
  }
}
