@font-face {
  font-family: 'iconfont';  /* project id 1465198 */
  src: url('//at.alicdn.com/t/font_1465198_g9wnmr0wz2.eot');
  src: url('//at.alicdn.com/t/font_1465198_g9wnmr0wz2.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1465198_g9wnmr0wz2.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1465198_g9wnmr0wz2.woff') format('woff'),
  url('//at.alicdn.com/t/font_1465198_g9wnmr0wz2.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1465198_g9wnmr0wz2.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  cursor: pointer;
}
$redColor: #DA251D; //默认红色
$borderE7: #e7e7e7; //默认边框线颜色

.nuxt-link-active{
  color:$redColor;
}
.marginBottom100{
  margin-bottom: 100px;
}
.marginBottom40{
  margin-bottom: 40px;
}
.padding30{
  padding: 30px;
}
.fRight{
  float: right;
}





@mixin img {
  display: block; //默认图片的百分比大小
  width: 100%;
  height: 100%
}
@mixin over {
  white-space: nowrap; //一行文字溢出隐藏
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin twoText { // 2行文字溢出
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}

@mixin triText{
  transition: .2s ease-in-out;
}
@mixin imgTrf{  // 图片放大动画
  transform: scale(1.05);
  transition: .3s ease-in-out;
}

/*滚动条凹槽的颜色，还可以设置边框属性 */
::-webkit-scrollbar-track-piece {
  background-color:#f8f8f8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/*滚动条的宽度*/
::-webkit-scrollbar {
  width:9px;
}
/*滚动条的设置*/
::-webkit-scrollbar-thumb {
  background-color:#dddddd;
  background-clip:padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/*滚动条鼠标移上去*/
::-webkit-scrollbar-thumb:hover {
  background-color:#bbb;
}

.el-radio__label{
  padding-left: 0;
}
.el-radio__input.is-checked .el-radio__inner{
  border-color: $redColor;
  background: $redColor;
}
.el-radio__input.is-checked+.el-radio__label{
  color: $redColor;
}