
* {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

html, body {
  width: 100%;
  font-family: "Microsoft YaHei", "微软雅黑";
}

#__nuxt {
  width: 100%;
}

#__layout {
  overflow: hidden;
  width: 100%;
}

.el-header, .el-main, .el-footer {
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.indexBodybox {
  width: 75%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

.headTopBox {
  width: 100%;
  background: #eeeeee;
  overflow: hidden;

  .headTop {
    width: 75%;
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    height: 40px;
    overflow: hidden;

    .changeCity {
      min-width: 120px;
      height: 40px;
      line-height: 40px;
      color: #666666;
      float: left;
      font-size: 0;

      i {
        vertical-align: middle;
        font-size: 16px;
      }

      span {
        font-size: 12px;
        font-weight: bold;
        vertical-align: middle;
      }

      a {
        color: #666666;
        font-size: 12px;
        width: 54px;
        height: 18px;
        line-height: 18px;
        border: 1px solid rgba(204, 204, 204, 1);
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        text-align: center;
        cursor: pointer;
      }

    }

    .loginBox {
      float: left;
      height: 40px;
      line-height: 40px;
      margin-left: 20px;

      a {
        display: inline-block;
        font-size: 12px;
        color: #666666;
        margin: 0 6px;
        padding: 0 2px;

        &.active {
          color: #DA251D;
        }
      }
    }

    .rightShops {
      height: 40px;
      line-height: 40px;
      text-align: right;

      a {
        display: inline-block;
        padding: 0 6px;
        margin: 0 10px;
        font-size: 12px;
        color: #666666;
      }
    }
  }
}

.headSearchBox {
  max-width: 1400px;
  width: 75%;
  margin: 0 auto;
  overflow: hidden;

  .logoBox {
    max-width: 319px;
    width: 100%;
    height: 54px;
    margin-top: 40px;

    a {
      height: 100%;
      width: 100%;
      display: block;

      img {
        height: 100%;
        width: 100%;
        display: block;
      }
    }
  }

  .headSearch {
    width: 84%;
    max-width: 450px;
    overflow: hidden;
    margin: 40px 0 0 20%;

    .topIpt {
      width: 100%;
      float: left;
      display: flex;
      overflow: hidden;

      .input {
        float: left;
        flex: 1;
        width: 86%;
        max-width: 390px;
        height: 34px;
        line-height: 34px;
        border: 2px solid #DA251D;
        border-right: none;
        outline: none;
        display: block;
        text-indent: 1em;
        color: #333333;
        font-size: 12px;

        &::placeholder {
          color: #9b9b9b;
        }
      }

      .btn {
        float: left;
        border-radius: 0;
        background: #DA251D;
        border: none;

      }
    }

    .bottomText {
      width: 100%;
      margin-top: 14px;
      overflow: hidden;
      height: 28px;

      span {
        display: block;
        float: left;
        padding: 0 2px;
        font-size: 12px;
        margin-right: 16px;
        margin-top: 8px;
        cursor: pointer;

        &.active {
          color: #DA251D;
        }

        &:hover {
          color: #DA251D;
        }

      }
    }

  }

  .rightPhone {
    width: 100%;

    .img {
      max-width: 65%;
      min-width: 205px;
      max-height: 38px;
      margin: 40px 0px 0 auto;
      overflow: hidden;
      .leftIphoneImg{
        width: 38px;
        height: 38px;
        float: right;
        img{

          @include img;
        }
      }
      .rightNumber{
        float: right;
        margin-left: 6px;
        p{
          width: 100%;
          color: $redColor;
          &:nth-child(1){
            font-size: 12px;
            height: 16px;
            line-height: 16px;
          }
          &:nth-child(2){
            font-size: 24px;
            height: 22px;
            line-height: 22px;
          }
        }
      }

    }
  }
}

.supplierBody{ // 内页公用的背景
  width: 100%;
  background: #f0f3ef;
  overflow: hidden;
  .bodyBox{
    width: 75%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    .HeaderBreadcrumb{
      width: 100%;
      margin-top: 20px;
      .breadcrumb{
        overflow: hidden;
        height: 20px;
        line-height: 20px;
        span{
          display: block;
          float: left;
          font-size: 14px;
          color: #333333;
          margin-right: 6px;
          &.right{
            font-size: 12px;
          }
        }
        a{
          font-size: 14px;
          display: block;
          float: left;
          color: #8e8e8e;
          margin-right: 6px;
        }
        .iconfont{
          color:#9a9a9a ;
          font-size: 20px;
        }
      }

    }
    .pageSbox{ // 默认分页样式
      width: 100%;
      margin: 30px auto 40px;
      text-align: center;
      .el-pagination{
        padding: 0 20px;
        display: inline-block;
        .btn-prev{
          background: #ffffff;
        }
        .el-pager{
          li{
            background: #ffffff;
            &.active{
              background: $redColor;
            }
          }

        }
      }
    }
  }

}

.supplierBody{
  width: 100%;
  background: #f0f3ef;
  overflow: hidden;
  .bodyBox{
    width: 75%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    .topMenuBox{
      background: #ffffff;
      width: 100%;
      overflow: hidden;
      margin-top: 20px;
      .contentBox{
        width:92% ;
        max-width: 1342px;
        margin: 40px auto 0;
        .defaultBox{
          width: 100%;
          margin-bottom: 20px;
          border-bottom: 1px solid $borderE7;
          display: flex;
          display: -ms-flex;
          .leftText{
            width: 100px;
            height: 30px;
            line-height: 30px;
            margin-bottom: 16px;
            text-align: right;
            font-size: 16px;
            font-weight: bold;
            color: #333333;
          }
          .rightList{
            flex: 1;
            -ms-flex: 1;
            span{
              display: inline-block;
              height: 26px;
              line-height: 26px;
              font-size: 16px;
              color: #666666;
              margin: 0 30px 10px 0;
              padding: 2px 10px;
              cursor: pointer;
              &.active{
                color: #ffffff;
                background: $redColor;
              }
              &:hover{
                color: #ffffff;
                background: $redColor;
                @include triText;
              }
            }
          }
        }
        .defaultBoxTwo{
          width: 100%;
          margin-bottom: 20px;
          .contentx{
            width: 100%;
            text-align: center;
            span{
              font-size: 16px;
              display: inline-block;
              margin-right: 60px;
              cursor: pointer;
              &:hover{
                color: $redColor;
              }
              &.active{
                color: $redColor;
              }
            }
          }
        }
      }
    }
    .bottomListBox{
      margin-top: 30px;
      overflow: hidden;
      width: 100%;

      .contentList{
        width: 100%;
        overflow: hidden;
        a{
          width:19% ;
          float: left;
          margin-right: 1.25%;
          border-radius: 6px;
          margin-bottom: 20px;
          overflow: hidden;
          background: #ffffff;
          >p{
            width: 100%;
            height:258px ;
            img{
              @include img;
            }
          }
          &:nth-child(5n){
            margin-right: 0;
          }
          .companyName{
            padding: 0 20px;
            margin: 10px auto 20px;
            span{
              display: block;
              color: #333333;
              font-size: 15px;
              @include over;
              &:nth-child(1){
                margin-bottom: 10px;
                font-size: 16px;
              }
            }
          }
        }
      }
      .NoData{
        background: #ffffff;
        width: 100%;
        height: 600px;
        overflow: hidden;
        .img{
          width: 200px;
          height: 200px;
          margin: 100px auto;
          img{
            @include img;
          }

        }
        .text{
          font-size: 13px;
          color: #333333;
          text-align: center;
        }
      }
    }
  }
}