@font-face {
  font-family: 'iconfont';  /* project id 1465198 */
  src: url('//at.alicdn.com/t/font_1465198_riji0qce5g.eot');
  src: url('//at.alicdn.com/t/font_1465198_riji0qce5g.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1465198_riji0qce5g.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1465198_riji0qce5g.woff') format('woff'),
  url('//at.alicdn.com/t/font_1465198_riji0qce5g.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1465198_riji0qce5g.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  cursor: pointer;
}
$redColor: #DA251D; //默认红色
$borderE7: #e7e7e7; //默认边框线颜色


.marginBottom130{
  margin-bottom: 130px;
}







@mixin img {
  display: block; //默认图片的百分比大小
  width: 100%;
  height: 100%
}
@mixin over {
  white-space: nowrap; //一行文字溢出隐藏
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin triText{
  transition: .2s ease-in-out;
}
@mixin imgTrf{  // 图片放大动画
  transform: scale(1.05);
  transition: .3s ease-in-out;
}

